<nav>
    <div class="site-title">
        <a href="/"><h1>blogs</h1></a>
        <p>amr mohammed</p>
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog/create">new blog</a></li>
    </ul>
</nav>